PROJECT_ID=shakti360
LOCATION=asia-south1
VERTEX_LOCATION=us-central1
GEMINI_MODEL=gemini-2.5-flash

MAPS_API_KEY=AIzaSyA8IUSZSHM_0tGPAeZW8lmw2-ZYrRFPFcw
LANGFUSE_SECRET_KEY="sk-lf-631a9e5c-f0f5-4f9a-b632-15a3dbbc93e6"
LANGFUSE_PUBLIC_KEY="pk-lf-dea6d802-a588-423a-aa64-73d27ce18fec"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

RAG_BUCKET=shakti360-rag
USE_MEDGEMMA=false