# Environments
.env
.env.local
.env.*.local
.env.yaml
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log
.firebase/
